################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dealer simulation - ASP.NET/AssurBox.Samples.DealershipSimulator/.vs/AssurBox.Samples.DealershipSimulator/v15
/Dealer simulation - ASP.NET/AssurBox.Samples.DealershipSimulator/.vs/config/applicationhost.config
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/.vs/AssurBox.Samples.InsuranceEndPoint/v15/Server/sqlite3
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/.vs/config/applicationhost.config
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance/bin
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance/obj
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance/Properties/PublishProfiles
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/bin
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/obj
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/AssurBox.Samples.API.Insurance.DB.publish.xml
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/AssurBox.Samples.API.Insurance.DB.publish_Arvixe.xml
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/AssurBox.Samples.API.Insurance.DB_Arvixe.publish.xml
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/AssurBox.Samples.API.Insurance.DB/AssurBox.Samples.API.Insurance.DBdemoarvixe.publish.xml
/Insurance simulation - ASP.NET/AssurBox.Samples.InsuranceEndPoint/packages
/Dealer simulation - ASP.NET/AssurBox.Samples.DealershipSimulator/AssurBox.Samples.Client.Garage.Web/bin
/Dealer simulation - ASP.NET/AssurBox.Samples.DealershipSimulator/AssurBox.Samples.Client.Garage.Web/obj/Debug
/Dealer simulation - ASP.NET/AssurBox.Samples.DealershipSimulator/packages/AssurBox.SDK.1.0.1/content/nuget-howto.txt
