<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  -->
  <appSettings>
    
    <!--This part is to protect this application -> It must be configured in AssurBox (settings / module configuration)-->
    <add key="AssurBox:Insurance:Api:AccessKey" value="QXNzdXJhbmNlIERlbHRhIEFwaSBVc2VyOkFzc3VyQm94KjEyMw==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <!-- This part is to access AssurBox-->
    <add key="AssurBox:Api:BaseURL" value="https://sandbox.assurbox.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssurBox:Api:ClientID" value="hC51AVzcp+CljKCD1riV2w==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssurBox:Api:ClientSecret" value="69TEgHfbHthRM6/9sjEonGiY0kvGB6ZqQijkDc12FEmd8qT8XARy3dX5V0ZW/uFC5yDOVHB2GK9iPDgg+6q7ew==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="ApiDataConnectionString"
      connectionString="Data Source=(local);Database=sandboxinsuranceassurbox;uid=devassurboxusr;pwd=ULhBeUB4;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>